* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
}

.page-wrapper {
    background-image: url('images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
    background-blend-mode: normal;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content-wrapper {
    display: flex;
    align-items: center;
    width: 78%;
    margin-inline: auto;
}

.text-container {
    width: 80%;
    margin-inline: auto;
}

.about-content__header {
    color: white;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 2.3rem;
}

.about-content__header + p {
    color: rgb(226, 226, 226);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
}

.form-section {
    width: 84%;
}

div.form__announcement {
    background-color: hsl(248, 32%, 49%);
    width: 100%;
    padding: 1.3rem 0;
    margin-bottom: 2rem;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
}

div.form__announcement p {
    color: hsl(246, 25%, 77%);
    font-size: 1.2rem;
    letter-spacing: 0.01rem;
}

div.form__announcement span {
    color: white;
    font-weight: 600;
}

.form__input-section {
    background-color: white;
    padding: 3.5rem 0 2.5rem 0;
    border: 1px solid white;
    border-radius: 12px;
    box-shadow: 0 8px rgba(0, 0, 0, 0.15);
}

.form__field-wrapper {
    width: 85%;
    margin-inline: auto;
}


.input-container input {
    color: black;
    display: block;
    font-weight: 500;
    width: 100%;
    padding: 1.4rem 2rem;
    border: 1px solid lightgrey;
    border-radius: 7px;
    outline: none;
}

.input-container img {
    display: none;
}

.input-container img.active {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    right: 7%;
    top: 30%;
}

input#email.error-active::-webkit-input-placeholder {
    color: hsl(0, 90%, 60%);
    font-size: 1.15rem;
    font-weight: 500;
 }

::placeholder {
    color: grey;
    font-size: 1rem;
    font-weight: 500;
}

.error {
    text-align: end;
    color: hsl(0, 90%, 60%);
    font-size: 0.9rem;
    font-weight: 500;
    font-style: oblique;
    padding: 0.4rem 0;
    margin-bottom: 0.7rem;
}

.cta-button {
    width: 100%;
}

.trial-btn {
    background-color: hsl(154, 59%, 51%);
    color: rgb(244, 244, 244);
    text-align: center;
    font-weight: 600;
    width: 100%;
    padding: 1rem 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.03rem;
    box-shadow: 0 4px hsl(154, 59%, 41%);
}

.trial-btn:hover {
    background-color: hsl(154, 55%, 60%);
    box-shadow: 0 4px hsl(154, 35%, 50%);
}

.confirmation-text {
    text-align: center;
    width: 100%;
    padding-top: 1.5rem; 
}

.confirmation-text p {
    color: grey;
    font-size: 0.8rem;
}

.confirmation-text span {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

@media screen and (max-width: 1100px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .page-wrapper {
        background-image: url('images/bg-intro-mobile.png');
        background-size: contain;
    }

    .content-wrapper {
        flex-wrap: wrap;
        width: 100%;
        margin-top: 6rem;
    }

    .text-container {
        text-align: center;
        width: 85%;
    }

    .about-content { 
        width: 90%;
        max-width: 540px;
        margin-inline: auto;
        margin-bottom: 3.7rem;
    }

    .about-content__header {
        font-size: 1.7rem;
        padding-bottom: 1rem;
        line-height: 1.5;
    }

    .about-content__header + p {
        font-size: 0.9rem;
        line-height: 1.8;
    }

    .form-section {
        width: 100%;
    }

    div.form__announcement {  
        text-align: center;
        width: 90%;
        max-width: 540px;
        padding: 0.7rem 20%;
        margin-inline: auto;
        box-shadow: 0 6px rgba(0, 0, 0, 0.2);
    }

    div.form__announcement p {
        font-size: 0.9rem;
        line-height: 1.8;
    }

    .form__input-section {  
        width: 90%;
        max-width: 540px;
        padding: 2rem 0 1.5rem 0;
        margin-inline: auto;
        border-radius: 8px;
        margin-bottom: 5rem;
        box-shadow: 0 8px rgba(0, 0, 0, 0.15);
    }

    .form__field-wrapper {
        width: 90%;
    }

    .input-container input {
        padding: 1rem;
    }

    input#email.error-active::-webkit-input-placeholder {
        font-size: 1rem;
        font-weight: 500;
    }

    .error {
        font-size: 0.85rem;
    }

    ::placeholder {
        color: grey;
        font-size: 0.85rem;
        font-weight: 600;
    }

    .cta-button {
        width: 100%;
        padding: 1rem 0; 
    }
}

@media screen and (min-width: 850px) and (max-width: 1100px) {

    .text-container {
        width: 95%;
    }

    .about-content__header {
        font-size: 2.5rem;
        padding-bottom: 1.5rem;
        line-height: 1.4;
    }

    .about-content__header + p {
        font-size: 1rem;
        line-height: 1.8;
    }

    div.form__announcement {
        padding: 0.9rem 0;
        max-width: 600px;
    }

    div.form__announcement p {
        font-size: 1rem;
        width: 80%;
        margin-inline: auto;
    }

    .form__input-section {
        max-width: 600px;
        padding: 3rem 0 2.5rem 0;
    }

    .input-container input {
        padding: 1.15rem;
    }

    ::placeholder {
        font-size: 0.95rem;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1470px) {
    .content-wrapper {
        width: 100%;
        padding-inline: 3%;
    }

    .about-content {
        width: 100%;
    }

    .text-container {
        width: 90%;
        margin-inline: 0;
    }

    .about-content__header {
        font-size: 3rem;
        padding-bottom: 1.2rem;
    }

    .about-content__header + p {
        font-size: 1.1rem;
    }

    .form-section {
        margin: 5rem 0;
    }
}

@media screen and (min-width: 1240px) and (max-width: 1470px) {
    .content-wrapper {
        padding-right: 10%;
    }

    .about-content {
        /* border: 1px solid yellow; */
        width: 100%;
    }

    .text-container {
        width: 80%;
        max-width: 550px;
        margin-inline: auto;
        /* border: 1px solid red; */
    }

    .form-section {
        max-width: 500px;
        margin: 5rem 0;
    }
}

